// nextflow.config
params {
	threads = 20
	m-cutoff = 0.75
	in-faa = 
	in-gn = "data/genomes"
	kofam-db = "full"
	prodigal_method = "meta"
	output_folder = "results"
	test = "false"
}

// Process-specific resource allocation
process {
    // Default resources for all processes
    cpus   = 4
    memory = 12.GB

    // Custom resources for our Annotation process
    withName: ANNOTATE_MAGS {
        cpus   = { 2 * task.attempt }  // Increases if the task retries
        memory = { 2.GB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 2
    }
}
