// nextflow.config
params {

//required: threads, kofam_db, m_cutoff, in_gen, 
	threads = 20
	m_cutoff = 0.75
	in_gn = "data/genomes"
    in_faa = "data/genomes/faa"
	kofam_db = "full"
	prodigal_method = "meta"
	output_folder = "results"
    // Root database path (override with --METABOLIC_db_path)
    METABOLIC_db_path = "/storage1/data10/metabolic_dbs_small"

    // Derived database paths (override any of these from CLI if needed)
	kofam_db_path = "${params.METABOLIC_db_path}/kofam/profiles" // folder containing *.hmm
    kofam_list_path = "${params.METABOLIC_db_path}/kofam/ko_list"   // KOfam ko_list file
    motif_file = "${params.METABOLIC_db_path}/METABOLIC_template_and_database/motif.txt"
    motif_pair_file = "${params.METABOLIC_db_path}/METABOLIC_template_and_database/motif.pair.txt"
    hmm_table_template = "${params.METABOLIC_db_path}/METABOLIC_template_and_database/hmm_table_template.txt"
    hmm_table_template_2 = "${params.METABOLIC_db_path}/METABOLIC_template_and_database/hmm_table_template_2.txt"
    ko_module_table = "${params.METABOLIC_db_path}/METABOLIC_template_and_database/ko00002.keg"
    ko_module_step_db = "${params.METABOLIC_db_path}/METABOLIC_template_and_database/kegg_module_step_db.txt"
    r_pathways = "${params.METABOLIC_db_path}/METABOLIC_template_and_database/R_pathways.txt"
    dbcan_hmm_db = "${params.METABOLIC_db_path}/dbCAN2/dbCAN-fam-HMMs.txt"
    dbcan_parser = "${baseDir}/bin/Accessory_scripts/hmmscan-parser-dbCANmeta.py"
    eggnog_db_path = "${params.METABOLIC_db_path}/eggnog_data"
    run_read_mapping = false
    read_mapping_manifest = null
    sequencing_type = "illumina"
    run_gtdbtk = false
    gtdbtk_db_path = "${params.METABOLIC_db_path}/release226"
    gtdbtk_use_pplacer_scratch_dir = false
	test = "false"
    gtdbtk_tmp = "/tmp"

}

executor {
    name = 'local'
    // total HMM searches run at the exact same moment.
    queueSize = 1000
}

// Process-specific resource allocation
process {
    // Default resources for all processes
    cpus   = 20
    memory = 64.GB

    // Custom resources for our Annotation process
    withName: ANNOTATE_MAGS {
        cpus   = { 2 * task.attempt }  // Increases if the task retries
        memory = { 2.GB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withName: RUN_HMMSEARCH {
        cpus   = 2    // How many threads per HMM search
        memory = 4.GB // RAM per HMM search
        
        // This ensures that if one HMM fails, the whole pipeline 
        // doesn't die; it just ignores that one and keeps going.
        errorStrategy = 'ignore' 
    }

    withName: RUN_DBCAN {
        cpus   = 2
        memory = 4.GB
    }

    withName: SETUP_EGGNOG {
        cpus   = 4
        memory = 8.GB
    }

    withName: RUN_EGGNOG {
        cpus   = 24
        memory = 16.GB
    }

    withName: READ_MAPPING {
        cpus   = 16
        memory = 32.GB
    }

    withName: GTDBTK_CLASSIFYWF {
        cpus   = 16
        memory = 64.GB
    }
}

// Execution profiles
profiles {
    docker {
        docker.enabled = true
    }
    conda {
        conda.enabled = true
        conda.useMamba = false
    }
}

// Report and trace settings
timeline {
    enabled = true
    file = 'timeline.html'
    overwrite = true
}
trace {
    overwrite = true
}

report {
    enabled = true
    file = 'report.html'
    overwrite = true
}